.movies_main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

@media (max-width: 992px) {
    .movies_main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .movies_main {
        grid-template-columns: 1fr;
    }
}

.movie {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(233, 49, 49, 0.241);
    border-radius: 8px;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 4px;
}